.dropdown {display: inline;}

.listenname {display: inline;}

#elementList {
    height: 30em;
    background-color: rgba(243, 243, 243, 0.774);
    border-radius: 0.3em;
    
    }

.element {
    border-style: solid;
    border-width: 1px; 
    border-color: lightgray; 
    background-color: white;
}

.formInput{
    background-color: white
}

.formInlineBlock{
    padding-left: 0.5em
}

.marginZero{
    margin:0em;
}

.margin-t-b{
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0px;;
}

#listen {display: inline;}

#header01-17 {background-image: url(header.jpg);
                background-size: cover;}

.bottom {   padding-top: 1em;
                padding-right: 0px;}

.col {padding: 0px;}

.maincontent {  padding: 0px;
                background-image: url(back.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                }

                body {
                    height: 100%;
                  }
@font-face {
font-family: 'Glyphicons Halflings';
src: url('../fonts/glyphicons-halflings-regular.eot');
src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
                  